@import schemes
@import image
@import user

html, body, ul, li
  margin 0
  padding 0

ul, li
  list-style none

body
  color #555
  min-height 100vh

.hide
  display none

#nav
  background #fff
  font-family 'Merriweather', serif
  font-weight 900
  box-shadow 0 0 12px rgba(0, 0, 0, .3)
  line-height 48px
  div, ul, li
    padding 0 1em
    float left
  li
    transition all 1s
    cursor pointer
    &.current
      background #555
      color #fff
    &:hover
      color #555
      background #ddd
  #user
    padding-right 1em
    float right
  &::after
    display block
    clear both
    content ''
  position relative
  z-index 100

#logo
  color #333
  font-size 24px

#footer
  clear both
  padding 30px 0
  font-size 12px
  span
    cursor pointer