#logout
  color #ccc

#login, #signup, #password-reset
  background #fff
  display none
  position fixed
  left 50%
  top 50%
  width 400px
  height 300px
  margin-left -200px
  margin-top -150px
  padding 20px
  box-sizing border-box
  box-shadow 0 0 8px #777
  input
    width 100%
    font-size 1.2em
    padding .5em
    box-sizing border-box
    margin 5px 0
  .submit
    cursor pointer
    font-size 12px
    padding 3px 6px
    margin 6px 0
    border 1px solid #777
    display inline-block